<div class="container-fluid">
	<div class="row">
    <h5>
      <span>Logo</span>
      <span class="nav-link" *ngIf="!isProjectPage">
        {{appName}}
        </span>
      <a class="nav-link" *ngIf="isProjectPage" [routerLink]="['/projects']">
        "All Projects" - {{projectName}}</a>
    </h5>
    <div class="clearfix"></div>
    <h3>My Projects</h3>
    <div ngbDropdown>
      <a id="profileMenu" ngbDropdownToggle>Tariq Kaddoura</a>
      <div ngbDropdownMenu aria-labelledby="profileMenu">
        <a class="dropdown-item" href="#">Account Details</a>
        <a class="dropdown-item" href="#">Logout</a>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="!isProjectPage">
    <button (click)="loadProjects()" type="button" class="btn btn-outline-secondary">
      +
    </button>
  </div>
</div>
