html, body {
  font-family: 'Titillium Web', sans-serif;
}

html {
  position: relative;
}

body {
  background-color: $uiLight00;
  * {
    transition: all 0.5s ease;
  }

  .container-fluid {
    .row {
      padding: 0 19px;
    }
  }
  .container-fluid.main {
    padding: 0 32px;
  }
}


/****************************
      Common Styles
****************************/
.cur-pointer {
  cursor: pointer;
}
